/test.py
__pycache__
/setup.py
/AppManagement/__pycache__
Accounts.sqlite
test_Accounts.sqlite
User_configuration.toml
.vscode
build
dist
DB Backups
Temp Update
Previous Version
tokens_ssh_gdp_secrets.py
Test DB Backups
main.spec
